<h1>New Category</h1>
<%= form_for @category, url: admin_categories_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit 'Create Category' %>
<% end %>